<br>
<div class="form-group">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your information
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last Name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="e-mail">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="birthDate" [matDatepicker]="picker" placeholder="Birth date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="phone" placeholder="Phone">
        </mat-form-field>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Address
              </mat-panel-title>
              <mat-panel-description>
                Type your address
              </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="container">
              <div formGroupName="address">
                <mat-form-field>
                  <input matInput formControlName="street" placeholder="Street">
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="city" placeholder="City">
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="state" placeholder="State">
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="zip" placeholder="Zip">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>
      </mat-expansion-panel>
    </form>
  </div>
</div>

