/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

footer{
    color:white;
    position:fixed;
    bottom: 0px;
    width: 100%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }
html, body { 
  height: 100%; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
